<p id="p1">products works!</p>

<hr>
<!-- 
<h2>My name is {{fname}} and my age is {{age}}</h2>

<hr>

<h1>{{10/21}}</h1>

<hr>

<h2>{{getText()}}</h2>
<hr>

<ul *ngFor="let items of productList">
    <li>{{items}}</li>
</ul>
<hr>

<ul *ngFor="let emp of productList1">
    <li>{{emp.name}}</li>
    <li>{{emp.age}}</li>
</ul> -->

<div id="im1">
<img [src]="image" alt="" width="150px" height="150px" ><br>
</div>
<a [href]="url">Youtube</a>

<hr>

<p [title]="data">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas eaque obcaecati libero quis atque voluptatibus optio vel ut sunt temporibus dignissimos quisquam tempore, qui in odit voluptas odio veniam quae enim porro. Reiciendis, aut possimus consectetur, iusto et quod optio veritatis numquam cupiditate quis consequuntur labore illum autem quam dolor quas doloremque. Quam, commodi modi! Vero tempora, voluptatibus asperiores tenetur suscipit doloremque, in placeat nihil temporibus sapiente nisi distinctio, enim molestiae obcaecati! Vitae illo earum quam quae neque distinctio quod, iure facilis voluptates accusamus est aut vel doloremque, nulla illum provident quidem. Quibusdam sed voluptatibus labore dolorum vel ea ducimus itaque nisi reprehenderit placeat? Alias distinctio aspernatur blanditiis eum reprehenderit corrupti, aliquam tempore, hic voluptatem nisi, officiis deleniti totam! Magnam.

</p>

<button (click)="display()">Display</button>

