<!-- <img src="assets/images/about.jpeg" > -->

<div class="about_section">
    <div class="inner_container">
        <h1>About Us</h1>
        <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, pariatur dolores autem quas, quisquam accusamus qui amet odio labore iusto quaerat dolore placeat itaque corporis voluptates quia rerum laudantium consectetur.

        </p>
        <div class = "skills">
            <span>Coding</span>
            <span>Dancing</span>
            <span>Editing</span>
        </div>
    </div>

</div>