.about_section{
    background: url(assets/images/goku.jpg) no-repeat left;
    background-size: 55%;
    background-color: aliceblue;
}
.inner_container{
    width: 55%;
    float: right;
    background-color: aliceblue;
    padding: 150px;
}