.navigate{
    height: 50px;
    position: sticky;
    top: 50px;
    background-color: black;
    text-align: center;
}

ul {
    position: relative;
    top:12px;
    
}

ul li a {
    text-decoration: none;
    color:white;
    display: block;
    font-size: 15px;
}

ul li {
    width: 100px;
    text-align: center;
    display: inline-block;
}

ul li a:hover {
    color:blue;
}